<div class="page login-page">
      <div class="container">
        <div class="form-outer text-center d-flex align-items-center">
          <div class="form-inner">
            <div class="logo text-uppercase"><span>Dash</span><strong class="text-primary">Express</strong></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name),id: "login-form") do |f| %>
              <div class="form-group">
                <%= f.label :email , class: "label-custom" %><br />
                <%= f.email_field :email, autofocus: true ,required: true%>
              </div>
              <div class="form-group">
                <%= f.label :password , class: "label-custom"%><br />
                <%= f.password_field :password, autocomplete: "off" ,required: true%>
              </div>
              <% if devise_mapping.rememberable? %>
              <div class="form-check">
                <label class="form-check-label">
                  <%= f.check_box :remember_me, class: "form-check-input" %>
                  <%= f.label :remember_me%>
                </label>
              </div>
              <%= f.submit "Login", class: "btn btn-primary" %> 
              <% end %>
              <!-- This should be submit button but I replaced it with <a> for demo purposes-->
            <% end %><a href="#" class="forgot-pass">Forgot Password?</a><small>Do not have an account? </small><a href="register.html" class="signup">Signup</a>
          </div>
          <div class="copyrights text-center">
            <p>Design by <a href="https://bootstrapious.com" class="external">Bootstrapious</a></p>
            <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
          </div>
        </div>
      </div>
    </div>

<!-- <%= render "devise/shared/links" %> -->
