<%= render 'layouts/breadcrumb', sequence: [:home, :veículo] %>
<div class="container">
	<section class="dashboard-counts section-padding">
		<div class="container-fluid">
			<div class="row">
				<div class="d-flex align-items-center col-md-12">
					<h4 class="display display text-uppercase text-primary"><i class="fa fa-car" aria-hidden="true"></i><%= t :newcar %></h4>
				</div>
			</div>
		</div>
	</section>
	<section class="section-no-padding-bottom">
		<div class="container-fluid">
			<div class="card padding">
				<div class="card-header d-flex align-items-center">
				<h2 class="h5 display display"><%= t :carvalues %></h2>
				</div>
				<div class="card-block">
					<%= form_for @vehicle do |f| %>
						<%= render 'vehicle', f: f %>
						<%= f.submit "Salvar", class: "btn btn-primary" %>
		        <%= link_to "Voltar", vehicles_path, class: "btn btn-secondary" %>
					<% end %>
				</div>
			</div>
		</div>
	</section>
</div>
