<%= render 'layouts/breadcrumb', sequence: [:home, :veículos] %>
<div class="container">
  <section class="dashboard-counts section-padding">
  <div class="row justify-content-center">
    <% if flash[:notice] %>
      <div class="col-md-6 alert alert-success"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="col-md-6 alert alert-danger"><%= flash[:alert] %></div>
    <% end %>
  </div>
    <div class="container-fluid">
      <form>
        <div class="form-group row justify-content-center">
          <div class="col-sm-2">
            <%= link_to "Novo Veículo", new_vehicle_path , class: "btn btn-primary" %>
          </div>
          <div class="col-sm-8">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Pesquisar">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
  <section class="statistics section-no-padding-bottom">
    <div class="container-fluid">
      <div class="row d-flex align-items-stretch">
        <% @vehicles.each do |vehicle| %>
        <div class="col-lg-4 card-vehicle">
         
          <!-- Monthly Usage-->
          <div class="wrapper data-usage">
            <div class="row">
              <div class="col-md-6">
                <h2 class="display h4 text-uppercase"><%= vehicle.model %></h2>
              </div>
              <div class="col-md-6">
                <strong class="text-primary rent-price">R$ 69,99 / dia</strong>
              </div>
            </div>
            <div class="row d-flex align-items-center">
              <div class="col-sm-6">
                <%= image_tag "car-default.png", class: "card-img-top vehicle-index", alt: "veículo" %>
              </div>
              <div class="col-sm-6">
                <small class="text-uppercase">Marca</small><span><%= vehicle.brand %></span>
                <small class="text-uppercase">Portas</small><span><%= vehicle.doors_number %></span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <%= link_to "Detalhes", vehicle_path(id: vehicle.id), class: "btn btn-outline-success btn-sm" %>
              </div>
              <div class="col-md-3">
                <%= link_to 'Deletar', { action: :destroy, id: vehicle.id }, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-outline-danger btn-sm" %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <%= paginate @vehicles %>
    </div>
  </section>
</div>
